# CASE statement in MySQL

CASE statement is used to create different outputs based on different conditions. It is similar to the if-else statement in programming languages.

The syntax of the CASE statement is as follows:

```sql
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    ...
    ELSE result
END
```

## Example
Assigning grades based on the marks obtained by the students. (use university_db)