# Data Types in MySQL

Data types are used to define a type of data that a column can hold such as integer, float, string, etc. In this notebook, we will learn about the different data types in MySQL.

There are a lot of data types in MySQL, but we will only cover the most commonly used ones.

Link: [MySQL Data types](https://www.w3schools.com/mysql/mysql_datatypes.asp)

## String Data Types
String data types are used to store character values such as names, addresses, and other text data. The following are the commonly used string data types in MySQL:
- `VARCHAR(size)`  : The size is the maximum length of the string.
- `SET(val1, val2, val3, ...)` : The SET data type is used to store a string object with a maximum of 64 different values.

## Numeric Data Types
Numeric data types are used to store numeric values such as integers, decimals, and floating-point numbers. The following are the commonly used numeric data types in MySQL:
- `INT` : The INT data type is used to store a whole number.
- `FLOAT` : The FLOAT data type is used to store a floating-point number.
- `DECIMAL(size, d)` : The DECIMAL data type is used to store a fixed-point number. The size is the total number of digits (including numbers after the decimal point) and d is the number of digits after the decimal point.

## Date and Time Data Types
Date and time data types are used to store date and time values. The following are the commonly used date and time data types in MySQL:
- `DATE` : The DATE data type is used to store a date value in the format YYYY-MM-DD.
- `TIME` : The TIME data type is used to store a time value in the format HH:MM:SS.
- `DATETIME` : The DATETIME data type is used to store a date and time value in the format YYYY-MM-DD HH:MM:SS.