# Tuple
A tuple is an ordered and immutable collection of elements. Immutable means once a tuple is created, you cannot change its values.  
**Use Cases:**  Tuples are useful for representing fixed collections of items.  
In function returns where multiple values need to be returned.    
Following is the **syntax** for tuple creation.

In [ ]:
fruits = ('mango', 'apple', 'banana', 'cherry', 'date', 'orange')
print(fruits)
print(type(fruits))

### 1. Accessing elements from tuple

In [ ]:
print(fruits[0])
print(fruits[3])
print(fruits[4])
print(fruits[5])
print(fruits[-1])    # Can access elements from reverse order

### 2. Immutable/Non-changeable: We cannot change elements of a tuple after its creation

In [ ]:
#fruit[4] = "grape"    # Gives you error because you can't change the items in a tuple
#print(fruit)

### 3. Useful functions  
   i. len(my_tuple)  
   ii. sum(my_tuple)  
   iii. my_tuple.index(element)  
   iv. my_tuple.count(element)

In [ ]:
# i. len(my_tuple)

In [ ]:
# ii. sum(my_tuple)
numbers = (34,23,56,89,45,67)

In [ ]:
# iii. my_tuple.index(element)      
print(numbers.index(56))

### 4. Iterating over lists

In [ ]:
# Using while loop

In [ ]:
# using range function and simple iteration

### 5. Tuple slicing
Here is the syntax for slicing:  
sliced_list = my_tuple[start_index:end_index:step]
If we dont give start_index and end_index, by default the values are as follows:  
start_index = 0 <br>
end_index = len(my_list) upto end <br>
step = 1  
**Note:** Slicing does not slice the original sequence. It creates a new sequence either it is tuple or list. If you print the original sequence, it will be the same. That's why slicing is possible in case of tuple as well because we are not changing the original tuple.

In [ ]:
my_tup = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# sliced_list = my_list[start_index:end_index:step]
new_tup = my_tup[1:2] 
print(new_tup)

In [ ]:
print(my_tup[6:8:3])

In [ ]:
print(my_tup[::-1])    # can be used to reverse the list

In [ ]:
print(my_tup[8:3:-2])    # in case of -ve steps, it will work in opposite way

### Packing and unpacking
**Packing:** Packing is the process of putting values into a tuple. This is done by creating a tuple and assigning values to it.

In [ ]:
# Another way of packing values into tuple
tup1 = 30,40,76,98
print(tup1)

Similarly when you return multiple values directly from a function, they are also return in the form of tuple automatically like in the following example.

In [ ]:
def add_and_multiply(x, y):
    sum_result = x + y
    product_result = x * y
    # Return a tuple containing both results
    return sum_result, product_result

result = add_and_multiply(4,9)
print(result)
# If you want separate sum and product then you can access them like simple way we done above.
total = result[0]
prod = result[1]

**Unpacking:** Unpacking is the process of extracting values from a tuple. This is done by assigning the values of a tuple to variables. The number of variables on the left side of the assignment must match the number of elements in the tuple.

In [ ]:
a,b,c,d = tup1
print(a, b, c, d)

In [ ]:
total,prod = add_and_multiply(4,9)
print(total,prod)

In [ ]:
data = (1, 2, 3, 4, 5, 6, 7)
x, y, z, *rest = data
print(x,y,z,rest)