# Insert into select statement

The `INSERT INTO SELECT` statement copies data from one table and inserts it into another table. The source table can be a table, view, or a subquery. The `INSERT INTO SELECT` statement requires that the data types in source and target tables match. The existing records in the target table are unaffected.

## Syntax

The basic syntax of the `INSERT INTO SELECT` statement is as follows:

```sql
INSERT INTO target_table (column1, column2, ...)
SELECT column1, column2, ...
FROM source_table;
```

For example, the following SQL statement copies data from the `customers` table into the `new_customers` table:

```sql
INSERT INTO new_customers (name, email)
SELECT first_name, email
FROM customers;
```