# Union in MySQL

Union is a set operation in SQL that allows you to combine the results of two or more queries into a single result set. The result set of a union query contains all the rows that are returned by the individual queries.

The syntax for the union operation is as follows:

```sql
SELECT column1, column2, ...
FROM table1
UNION
SELECT column1, column2, ...
FROM table2;
```

The union operation removes duplicate rows from the result set. If you want to include duplicate rows, you can use the `UNION ALL` operator.

In this notebook, we'll explore how to use the union operation in MySQL to combine the results of two or more queries.

## Examples
 - Select id, names and cities of all the customers and suppliers from super_store database.
 - Select all the distinct cities from the customers and suppliers tables.
 - Select all the distinct cities from the customers and suppliers tables and sort them in ascending order.

## Important point
 - The number of columns and their data types must be the same in all the queries that are combined using the union operation.