# Inserting Records into the table
We can insert records into tables using the 3 following ways

## Method 01    
`INSERT INTO table_name (col1, col2, col3, ...) VALUE (val1, val2, val3)`  
For example:
``` sql
INSERT INTO products (id, product_name, price, quantity) 
VALUE (1,"mouse", 10, 50);

INSERT INTO products (id, product_name, price, quantity) 
VALUE (2,"keyboard", 25, 56);
```

## Method 02 (Multiple records)    
`INSERT INTO table_name (col1, col2, col3, ...) VALUE (val1, val2, val3),
(val1, val2, val3),
(val1, val2, val3)`  
For example:
``` sql
INSERT INTO products (id, product_name, price, quantity) 
VALUE (3,"mobile", 250, 86),
(4,"charger", 20, 46),
(5, "laptop", 760, 24);
```

## Method 03 (Without column names)    
`INSERT INTO table_name VALUE (val1, val2, val3),
(val1, val2, val3),
(val1, val2, val3)`  
For example:
``` sql
INSERT INTO products  
VALUE (6,"bottle", 5, 124),
(7,"pen", 5, 186),
(8, "bag", 24, 47);
```

Similarly, you can also insert single records without specifying column names. But remember, if you do not write column names, then you have to enter the data for all the columns.
``` sql
INSERT INTO products VALUE (9, "table", 40, 15)
```

### Note:
Instead of `VALUE` you can also write `VALUES` in all the cases.