In [3]:
import mysql.connector
import db_credentials

connector = mysql.connector.connect(
    host=db_credentials.host,
    user=db_credentials.user,
    password=db_credentials.password,
    database="university_db"
)

cursor = connector.cursor()

In [9]:
cursor.execute(""" CREATE TABLE students (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50),
        gender ENUM('M', 'F') DEFAULT 'M',  
        major VARCHAR(50) DEFAULT 'Undecided',             
        age INT DEFAULT 18,
        grade FLOAT DEFAULT 0.0,
        email VARCHAR(50) ,
        phone VARCHAR(30) DEFAULT '000-000-0000',
        registration_date DATE,
        active BOOLEAN DEFAULT TRUE,
        graduation_date DATE DEFAULT NULL
    );
""")

In [11]:
cursor.execute("""
    CREATE TABLE instructor (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50),
        email VARCHAR(100),
        phone VARCHAR(20),
        department VARCHAR(50),
        hire_date DATE
    )
""")

In [13]:
cursor.execute("""
    CREATE TABLE department (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50),
        building VARCHAR(50) DEFAULT 'A',
        budget DECIMAL(10, 2) DEFAULT 1000000.00
    );
""")

In [18]:
cursor.execute("""
    CREATE TABLE course (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50),
        department_id INT,
        credits INT DEFAULT 3,
        instructor_id INT,
        semester VARCHAR(20) DEFAULT 'Fall',
        year INT DEFAULT 2021
    )
""")

In [19]:
# Add foreign key for department_id
cursor.execute("""
    ALTER TABLE course
    ADD FOREIGN KEY (department_id) REFERENCES department(id)
""")

# Add foreign key for instructor_id
cursor.execute("""
    ALTER TABLE course
    ADD FOREIGN KEY (instructor_id) REFERENCES instructor(id)
""")

In [ ]:
# Add foreign key for instructor_id
cursor.execute("""
    ALTER TABLE course
    ADD FOREIGN KEY (instructor_id) REFERENCES instructor(id)
""")

In [4]:
from faker import Faker
import random
fake = Faker()

In [ ]:
# Generate and insert data for 50 students
for i in range(1, 51):
    name = fake.name()
    age = random.randint(18, 30)
    email = f"{name.split()[0].lower()}@gmail.com"

    cursor.execute(f"""
    INSERT INTO students (id, name, age, email) 
    VALUES 
    ({i}, '{name}', {age}, '{email}')
    """)

In [6]:
# Commit the transaction
connector.commit()

In [2]:
cursor.execute("TRUNCATE TABLE students;")

In [ ]:
connector.commit()