# Lists Advance

#### Task 01
Declare a list of 30 elements to store marks of 30 students of a class. Initialize elements at random in range 1-100. The management is interested to divide students in three categories i.e. failures, above average and below average. For this purpose, calculate average of passed students only.  
**Hint:** Run different loop for each step.  

In the following sample run, the first line contains the marks of all 30 students. Then the average of only the passed students not including the marks of fail students. Then in the next line, marks of fail students (student with marks less than 50 out of 100). After that, marks of above average students (students having marks greater than average). At the last line, marks of below average students (students having marks less than average).  
**Sample Run:**

[80, 66, 97, 69, 90, 77, 92, 45, 14, 50, 5, 79, 73, 94, 62, 91, 18, 89, 63, 35, 11, 10, 49, 1, 46, 52, 82, 41, 35, 99]
Average: 78.06
45 14 5 18 35 11 10 49 1 46 41 35
80 97 90 92 79 94 91 89 82 99
66 69 77 45 14 50 5 73 62 18 63 35 11 10 49 1 46 52 41 35

#### Task 02
Declare a list of 12 elements to store monthly sales of XYZ Company. Initialize elements at random (range 1000 to 2000) and print in single line. Company want to do different analysis. For example, difference of sale in first half of the year and second half of the year. Difference of sales in each quarter.  
A year has two halves. First half has first six month and second half has next six month. Print total sales in first & second half.  
There are four quarters of three months in a year. Like first quarter has January, February & March. The second quarter has April, May & June. Print sales of each quarter. (By adding sales of consecutive three months).  
**Note:** Run different loop for each step.  
The first line contains the sales in 12 months. Then you have to calculate the total sales in each half of the year. Similarly, You have to show the total sales in each quarter as well.  
**Sample Run:**

1081 1380 1789 1037 1865 1703 1549 1694 1526 1768 1557 1746
Sale in Two Halves
First Half: 8855
Second Half: 9840
Quarter Wise Sale
Sale in Quarter 1: 4250
Sale in Quarter 2: 4605
Sale in Quarter 3: 4769
Sale in Quarter 4: 5071

#### Task 03
Create two lists of same size with random numbers. Compare corresponding elements of 
both lists and for each pair print largereelement  
**Sample Run:**.

List 1: 23 45 18 17 36
List 2: 41 14 11 37 46
41 45 18 37 46

#### Task 04
Extend previous task. Compare corresponding elements of both lists and put smaller element 
in list 1 and larger elements in list 2 and print both lists again   
**Sample Run:**

List 1: 23 45 18 17 36
List 2: 41 14 11 37 46
Smaller: 23 14 11 17 36
Larger: 41 45 18 37 46