# Lesson 1 Homework

### Task 1

Try to convert string "23" and string "twentythree" into integer and see which one possible

### Task 2

Asks the user for their name.\
Asks the user for their age.\
Prints a greeting message that includes their name and age.

Creates a variable name and assigns it your name.\
Creates a variable age and assigns it your age.\
Creates a variable is_student and assigns it a boolean value indicating whether you are a student.\
Prints the values of these variables along with their data types.

### Task 3

Asks the user for their height in centimeters.\
Converts the height from centimeters to meters.\
Prints the height in both centimeters and meters.