### Task 1: Create a Tuple

Create a tuple called fruits with at least 5 different fruit names.

### Task 2: Access Elements in a Tuple

Access and print the first and last elements from the fruits tuple.

### Task 3: Slicing a Tuple

Print a slice of the fruits tuple that includes the second, third, and fourth elements.

### Task 4: Tuple Concatenation

Create another tuple called vegetables with 3 vegetable names, and then concatenate fruits and vegetables into a new tuple called food.

### Task 6: Loop Through a Tuple

Use a for loop to iterate through the fruits tuple and print each fruit on a new line.

### Task 7: Tuple Unpacking

Create a tuple student = ("John", 21, "Computer Science"). Unpack the tuple into variables name, age, and major. Print each variable.

### Task 8: Count the Occurrences of an Element

Create a tuple numbers = (2, 3, 4, 2, 5, 2, 6, 2, 7). Count and print how many times the number 2 appears in the tuple.

Output: "Number 2 appears 4 times"

### Task 9: Convert Tuple to List

Convert the fruits tuple into a list and append a new fruit "mango". Print the updated list.