EXPLORING FUNCTIONS OF SETS IN PYTHON

1. add a new state

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw_united_states = {"Washington", "Oregon", "California"}

united_states.add("Hawaii")
print(united_states)

Why it's not working?

In [ ]:
united_states1 = united_states.add("Illinois")
print(united_states1)

None

2. remove all the elements from the set

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw_united_states = {"Washington", "Oregon", "California"}

pnw_united_states.clear()
print(pnw_united_states)

set()

3. copy

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}

states = united_states.copy()
print(states)

{'North Carolina', 'Washington', 'Oregon', 'Texas', 'California', 'Idaho', 'South Carolina'}

4. difference between the 2 sets

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw = {"Washington", "Oregon", "California"}

difference = united_states.difference(pnw)
print(difference)

{'North Carolina', 'Idaho', 'Texas', 'South Carolina'}

5. discard or remove a specific item from the set

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
united_states.discard("Idaho")
print(united_states)

{'North Carolina', 'Washington', 'Oregon', 'Texas', 'California', 'South Carolina'}

6. find intersection of the two sets

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw = {"Washington", "Oregon"}

intersection = united_states.intersection(pnw)
print(intersection)

{'Washington', 'Oregon'}

7. find out if the sets have an intersection or not

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw = {"Washington", "Oregon"}

united_states.isdisjoint(pnw)

False

8. is it a superset?

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw = {"Washington", "Oregon"}

united_states.issuperset(pnw)

True

9. is it a subset?

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw = {"Washington", "Oregon"}

pnw.issubset(united_states)

True

10. remove an element from the set. Why is it OREGON?

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw = {"Washington", "Oregon"}

pnw.pop()
print(pnw)

{'Oregon'}

11. remove the specified element

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw = {"Washington", "Oregon"}

pnw.remove("Washington")
print(pnw)

{'Oregon'}

12. union of sets. How do I use update method?

In [ ]:
united_states = {"Washington", "Oregon", "Idaho", "California", "Texas", "North Carolina", "South Carolina"}
pnw = {"Washington", "Oregon", "Alaska"}
south = {"Texas", "California", "Florida"}
united_states.union(pnw)
# united_states.update(south)

{'Alaska',
 'California',
 'Idaho',
 'North Carolina',
 'Oregon',
 'South Carolina',
 'Texas',
 'Washington'}