# Sub Quries

Syntax:  

```sql
SELECT column FROM  table
WHERE column OPERATOR (
  SELECT column FROM table
);
```

## Usage
Subqueries are a powerful tool in SQL that allow you to perform complex tasks by breaking them down into smaller, more manageable steps. They can be used in a variety of scenarios, such as:

 - Filtering data based on results from another query: For instance, finding all orders placed by customers who live in a specific state.

 - Aggregating data and using the results in conditions to fetch from other tables: An example is finding the customer name who has placed the order with the highest total_amount.

 - Comparing data from multiple tables: This can be helpful for tasks like finding all the customers who have never placed any order.

 - Joining tables with complex conditions: This can be useful for scenarios where the join condition relies on results from another table. For example: Finding customers who have purchased above average orders

## Solutions

1. ``` sql
    select * from orders where customer_id in (
    select id from customers where state = "Kentucky"
    );
    ```
<hr>

2. ``` sql 
    select * from customers where id = (
        select customer_id from orders 
        order by total_amount desc limit 1
    ); 
    ```
<hr>

3. ``` sql
    SELECT * from customers where id 
    not in (select customer_id from orders);
    ```
<hr>

4. ``` sql
    select id, first_name, last_name from customers where id 
    not in (select customer_id from orders);
    ```
<hr>

5. Method 01: 

    ``` sql  
    SELECT c.id, c.first_name, c.last_name FROM Customers c JOIN
    Orders o ON c.id = o.customer_id WHERE o.total_amount > ( SELECT
    AVG(total_amount) FROM Orders );
    ```
    <hr>
    Method 02: 
``` sql
    SELECT c.id, c.first_name, c.last_name
    FROM Customers c
    INNER JOIN Orders o ON c.id = o.customer_id
    INNER JOIN (
      SELECT AVG(total_amount) AS avg_total_amount
      FROM Orders
    ) AS avg_totals
    ON o.total_amount > avg_totals.avg_total_amount;
```
<hr \>