## ALTER
1. The ALTER statement is used to add, delete, or modify columns in an existing table.  
`ALTER TABLE table_name ADD column_name datatype;`  
`ALTER TABLE table_name DROP COLUMN column_name;`  
`ALTER TABLE table_name MODIFY COLUMN column_name datatype;`  

    For example:  
    ``` sql
    ALTER TABLE products ADD description VARCHAR(255);  
    ALTER TABLE products DROP COLUMN description;  
    ALTER TABLE products MODIFY COLUMN price INT;  
    ```
<hr>

2. We can also use the ALTER statement to rename a table.  
`ALTER TABLE table_name RENAME TO new_table_name;`  
    For example:  
    ``` sql  
    ALTER TABLE products RENAME TO items;  
    ```
<hr>

3. ALTER statement can be used to rename a column.  
`ALTER TABLE table_name CHANGE old_column_name new_column_name datatype;`  
    For example:  
    ``` sql
    ALTER TABLE products CHANGE price cost INT;
    ```
<hr>

4. We can also use the ALTER statement to add or drop a primary or foreign key.  
    `ALTER TABLE table_name ADD PRIMARY KEY (column_name);`  
    `ALTER TABLE table_name DROP PRIMARY KEY;`  
    `ALTER TABLE table_name ADD FOREIGN KEY (column_name) REFERENCES other_table(column_name);`  
    For example:  
    ``` sql
    ALTER TABLE products ADD PRIMARY KEY (id);  
    ALTER TABLE products ADD FOREIGN KEY (category_id) REFERENCES categories(id);  
    ```   

    <hr>

    **NOTE:**
    To DROP FOREIGN KEY constraint, we need to know the constraint_name. We can use the following query to find the constraint_name:
    ``` sql
    SHOW CREATE TABLE table_name;
    ```
    After finding the constraint_name, we can use the following query to drop the foreign key constraint.  
    `ALTER TABLE table_name DROP FOREIGN KEY constraint_name;`  
    Once the FOREIGN KEY constraint is dropped, we can drop the column using the above mentioned column DROP command.