# Q01
Select all columns of Japanese cities. [Link](https://www.hackerrank.com/challenges/japanese-cities-attributes/problem?isFullScreen=true)

```sql
SELECT * FROM city WHERE countrycode = 'JPN';
```
<hr>

# Q02
Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA. [Link](https://www.hackerrank.com/challenges/revising-the-select-query-2/problem?isFullScreen=true)

Solution:
```sql
    SELECT name FROM city WHERE countrycode = 'USA' AND population > 120000;
```
<hr>

# Q03
Query a list of CITY names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer. [Link](https://www.hackerrank.com/challenges/weather-observation-station-3/problem?isFullScreen=true)

Solution:
```sql
    SELECT DISTINCT(city) FROM station WHERE id % 2 = 0;
```
<hr>

# Q04
Find the difference between unique cities and total number of cities. [Link](https://www.hackerrank.com/challenges/weather-observation-station-4/problem?isFullScreen=true)

Solution:
```sql
    SELECT COUNT(city) - COUNT(DISTINCT(city)) FROM station;
```
<hr>

# Q 05
**Triangle Type**: Write a query identifying the type of each record in the TRIANGLES table using its three side lengths. [Link](https://www.hackerrank.com/challenges/what-type-of-triangle/problem?isFullScreen=true)

Solution:
```sql
    SELECT CASE
        WHEN A + B <= C OR A + C <= B OR B + C <= A THEN 'Not A Triangle'
        WHEN A = B AND B = C THEN 'Equilateral'
        WHEN A = B OR B = C OR A = C THEN 'Isosceles'
        ELSE 'Scalene'
    END
    FROM TRIANGLES;
```
<hr>

# Q 06
Names with their occupations and their count. [Link](https://www.hackerrank.com/challenges/the-pads/problem?isFullScreen=true)

Solution:
```sql
    SELECT CONCAT(Name, '(', SUBSTRING(Occupation, 1, 1), ')') AS NameWithInitial
    FROM OCCUPATIONS
    ORDER BY Name;

    SELECT CONCAT('There are a total of ', COUNT(*), ' ', LOWER(Occupation), 's.') AS OccupationCount
    FROM OCCUPATIONS
    GROUP BY Occupation
    ORDER BY COUNT(*), Occupation;
```
<hr>

# Q 07
Maximum employee salary and their count. [Link](https://www.hackerrank.com/challenges/earnings-of-employees/problem?isFullScreen=true)

Solution:
We can solve this question using the group by as well as sub queries.
```sql
    SELECT (months * salary) AS earnings, COUNT(months*salary) FROM Employee GROUP BY (months * salary) ORDER BY earnings DESC limit 1;
```
<hr>