# **Q 01**
Find all the authors that viewed at least one of their own articles.[Link](https://leetcode.com/problems/article-views-i/description/?envType=study-plan-v2&envId=top-sql-50)

**Solution:**
``` sql
SELECT DISTINCT(author_id) AS id FROM Views
WHERE author_id = viewer_id 
ORDER BY id;
```
<hr>

# **Q 02**
Project employees average experience.[Link](https://leetcode.com/problems/project-employees-i/description/?envType=study-plan-v2&envId=top-sql-50)

**Solution:**
``` sql
SELECT p.project_id, 
ROUND(AVG(e.experience_years),2) AS average_years
FROM Project p 
JOIN Employee e
ON p.employee_id = e.employee_id
GROUP BY p.project_id
```
<hr>

# **Q 03**
Average time of process per Machine. [Link](https://leetcode.com/problems/average-time-of-process-per-machine/?envType=study-plan-v2&envId=top-sql-50)

**Solution:**
``` sql
SELECT a1.machine_id,
ROUND(SUM(a2.timestamp - a1.timestamp)/ COUNT(*),3) AS processing_time
FROM activity a1
JOIN activity a2
ON a1.machine_id = a2.machine_id
AND a1.process_id = a2.process_id
AND a1.activity_type = 'start'
AND a2.activity_type = 'end'
GROUP BY a1.machine_id
```
<hr>